@import "../node_modules/@blueprintjs/core/lib/scss/variables.scss";

.mosaic.nnp-dark {
  background: $dark-gray4;

  .mosaic-zero-state {
    background: $dark-gray3;
    border-radius: $pt-border-radius;
    box-shadow: $pt-elevation-shadow-0;
  }

  .mosaic-split:hover {
    background: none;
    .mosaic-split-line {
      box-shadow: 0 0 0 2px $blue4;
    }
  }

  &.mosaic-drop-target,
  .mosaic-drop-target {
    .drop-target-container .drop-target {
      background: fade($blue5, 20%);
      border: 2px solid $blue4;
      transition: opacity 100ms;
      border-radius: $pt-border-radius;
    }
  }

  .mosaic-window,
  .mosaic-preview {
    box-shadow: $pt-elevation-shadow-0;
    border-radius: $pt-border-radius;

    .mosaic-window-toolbar {
      box-shadow: 0 1px 1px $pt-dark-divider-black;
      border-top-right-radius: $pt-border-radius;
      border-top-left-radius: $pt-border-radius;
      background: $dark-gray3;

      &.draggable:hover {
        .mosaic-window-title {
          color: $white;
        }
        background: $dark-gray3;
      }
    }

    .mosaic-window-title {
      font-weight: 600;
      font-family: monospace;
      color: $white;
    }

    .mosaic-window-controls {
      .separator {
        border-left: 2px solid $dark-gray2;
      }
      .bp3-button {
        &,
        &:before {
          color: $white;
        }
      }
    }

    .mosaic-window-body {
      border-top-width: 0;
      background: $dark-gray3;
      border-bottom-right-radius: $pt-border-radius;
      border-bottom-left-radius: $pt-border-radius;
    }

    .mosaic-window-additional-actions-bar {
      transition: height 250ms;
      box-shadow: 0 1px 1px $pt-divider-black;

      &.bp3-button {
        &,
        &:before {
          color: $white;
        }
      }
    }

    &.additional-controls-open {
      .mosaic-window-toolbar {
        box-shadow: 0 1px 0 $pt-elevation-shadow-0;
      }
    }

    .mosaic-preview {
      border: 1px solid $gray3;

      h4 {
        color: $dark-gray5;
      }
    }
  }

  &.bp3-dark {
    background: $dark-gray2;

    .mosaic-zero-state {
      background: $dark-gray4;
      box-shadow: $pt-dark-elevation-shadow-0;
    }

    .mosaic-split:hover .mosaic-split-line {
      box-shadow: 0 0 0 3px $turquoise3;
    }

    &.mosaic-drop-target,
    .mosaic-drop-target {
      .drop-target-container .drop-target {
        background: fade($dark-gray3, 20%);
        border-color: $blue3;
      }
    }

    .mosaic-window-toolbar,
    .mosaic-window-additional-actions-bar {
      background: $dark-gray4;
      box-shadow: 0 1px 1px $pt-dark-divider-black;
    }

    .mosaic-window,
    .mosaic-preview {
      box-shadow: $pt-dark-elevation-shadow-0;

      .mosaic-window-toolbar.draggable:hover {
        .mosaic-window-title {
          color: $white;
        }
        background: linear-gradient(to bottom, $dark-gray5, $dark-gray4);
      }

      .mosaic-window-title {
        color: $light-gray1;
      }

      .mosaic-window-controls {
        .separator {
          border-color: $gray1;
        }
        .bp3-button {
          &,
          &:before {
            color: $white;
          }
        }
      }

      .mosaic-window-body {
        background: $dark-gray3;
      }

      .mosaic-window-additional-actions-bar {
        .bp3-button {
          &,
          &:before {
            color: $white;
          }
        }
      }

      &.additional-controls-open {
        .mosaic-window-toolbar {
          box-shadow: $pt-dark-elevation-shadow-0;
        }
      }

      .mosaic-preview {
        border-color: $dark-gray3;

        h4 {
          color: $dark-gray4;
        }
      }
    }
  }
}
